{% extends "layout.html" %}
{% block head %}
<script>
reloadImage('#img11');
reloadImage('#img12');
reloadImage('#img13');
reloadImage('#img21');
reloadImage('#img22');
reloadImage('#img23');
setTimeout(changeImageSequence, imageSequenceInterval);
</script>


<style>

.row {
    display: block;
    font-size:0;    
}
.row-1 {
    height:66.66%;
}
.row-2 {
    height:33.33%;
}

.bg {
    display: inline-block;
    
    /* The image used */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* Full height */


    /* Center and scale the image nicely */
    position: relative;
}

.bg-11 {
    height: 100%;
    width: 66.66%;
    float:left;
}
.bg-12 {
    height: 50%;
    width: 33.33%;
    float: right;
}

.bg-2 {
    height: 100%;
    width: 33.33%;
}

.keyword-box {
    position: absolute;
    height: 20%;
    width: 20%;
    top: 40%;
    left: 40%;
    background-color: rgba(1,23,255,0.5);

    display: table;
    text-align: center;
}
.keyword-box > .keyword {
    font-size: 8px;
    display: table-cell;
    vertical-align: middle;
    color: #FFFFFF;
}

.timestamp-box {
    position: absolute;
    left: 98%;
    height: 100%;
    width: 2%;
    display:table;
}
.timestamp {
  color: #FFFFFF;
  font-size:8px;
  display:table-cell;
  vertical-align:middle;
}
</style>
{% endblock %}

{% block body %}
<div class="row row-2">
    <div id='img21' class="bg bg-2" style='background-image: url("");''>
        <div class="timestamp-box">
            <span class="timestamp"></span>
        </div>
        <div class="keyword-box">
            <span class="keyword"></span>
        </div>
    </div>
    <div id='img22' class="bg bg-2" style='background-image: url("");''>
        <div class="timestamp-box">
            <span class="timestamp"></span>
        </div>
        <div class="keyword-box">
            <span class="keyword"></span>
        </div>
    </div>
    <div id='img23' class="bg bg-2" style='background-image: url("");''>
        <div class="timestamp-box">
            <span class="timestamp"></span>
        </div>
        <div class="keyword-box">
            <span class="keyword"></span>
        </div>
    </div>
</div>
<div class="row row-1">
    <div id='img11' class="bg bg-11" style='background-image: url("");''>
        <div class="timestamp-box">
            <span class="timestamp"></span>
        </div>
        <div class="keyword-box">
            <span class="keyword"></span>
        </div>
    </div>
    <div id='img12' class="bg bg-12" style='background-image: url("");''>
        <div class="timestamp-box">
            <span class="timestamp"></span>
        </div>
        <div class="keyword-box">
            <span class="keyword"></span>
        </div>
    </div>
    <div id='img13' class="bg bg-12" style='background-image: url("");''>
        <div class="timestamp-box">
            <span class="timestamp"></span>
        </div>
        <div class="keyword-box">
            <span class="keyword"></span>
        </div>
    </div>
</div>

{% endblock %}


