{% extends "layout.html" %}
{% block head %}
<script>
  setTimeout(function(){ window.location.reload(1); }, 30 * 1000);
</script>

<style>
.bg {
    /* The image used */
    background-image: url("{{image_url}}");
    background-color: black;
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.box {
    height: 144px;
    width: 144px;
    background: black;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -72px;
    margin-left: -72px;
    background-color: rgba(1,23,255,0.5);
    text-align: center;
    line-height: 144px;
}
.keyword {
    font-size: 16px;
    color: #FFFFFF;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;;
}
.timestamp-box {
    position: fixed;
    top: 50%;
    left: 99%;
    margin-top: -65px;
}
.timestamp {
    display:block;
    top: 50%;
    float: right;
    color: #FFFFFF;
    font-size:8px;
}
</style>
{% endblock %}

{% block body %}
<div class="bg">
    <div class="timestamp-box">
        <span class="timestamp">
            {% for char in created_at %}
            {{ char }}<br/>
            {% endfor %}
        </span>
    </div>
    <div class="box">
        <span class="keyword">{{keyword}}</span>
    </div>
</div>
{% endblock %}








