{% extends "layout.html" %}
{% block head %}
<script>
  setTimeout(function(){ window.location.reload(1); }, 60 * 1000);
</script>


<style>
.row {
    display: block;
    height:33.33%;
    font-size:0;
}
.bg {
    display: inline-block;
    
    /* The image used */
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* Full height */
    height: 100%;
    width: 33.33%;

    /* Center and scale the image nicely */
    position: relative;
}

.keyword-box {
    position: absolute;
    height: 20%;
    width: 20%;
    top: 40%;
    left: 40%;
    background-color: rgba(1,23,255,0.5);

    display: table;
    text-align: center;
}
.keyword-box > .keyword {
    font-size: 8px;
    display: table-cell;
    vertical-align: middle;
    color: #FFFFFF;
}

.timestamp-box {
    position: absolute;
    left: 98%;
    height: 100%;
    width: 2%;
    display:table;
}
.timestamp {
  color: #FFFFFF;
  font-size:8px;
  display:table-cell;
  vertical-align:middle;
}
</style>
{% endblock %}

{% block body %}
{% for i in range(3) %}
    <div class="row">
    {% for j in range(3) %}
        <div class="bg" style='background-image: url("{{image_url[i*3 + j]}}");''>
            <div class="timestamp-box">
                <span class="timestamp">
                    {% for char in created_at %}
                    {{ char }}<br/>
                    {% endfor %}
                </span>
            </div>
            <div class="keyword-box">
                <span class="keyword">{{keyword}}</span>
            </div>
        </div>
    {% endfor %}
    </div>
{% endfor %}
{% endblock %}








